<div class="channel-wrapper">
  <div class="hero hero-channel-home">
  </div>
  <div class="channel-info group offset-lg-1 offset-md-1 offset-sm-1 offset-sm-0 px-3">
    <div class="channel-avatar-group d-lg-inline-block float-lg-left float-md-none mr-lg-3 mb-4">
      <a href="#">
        <%= image_tag 'smart-woman.jpg', class: 'channel-avatar' %>
      </a>
    </div>
    <div class="channel-info-stats col-6 float-lg-left float-md-none px-lg-0">
      <div class="subscribers-group float-left col-6 px-lg-0 mb-2">
        <span class="d-block">SUBSCRIBERS</span>
        <span class="d-block">12,332</span>
      </div>
      <div class="total-vids-group float-left col-6 px-lg-0 mb-2">
        <span class="d-block">TOTAL VIDEOS</span>
        <span class="d-block">499</span>
      </div>
      <button class="btn btn-subscribe col-12" type="button" name="button">Subscribe</button>
    </div>
  </div>
  <div class="" style="width:100%; height: 600px; background: #040d66;">
  </div>
</div>
